		h1{
			text-align: center;
			font-size: 60px;
		}
		#id_lupa{
			left: 26%;
			top: 10%;
			width: 50%;
			height: 85%;
			position: absolute;
		}
		#menu_lupa{
			width: 28%;
			height: 48%;
			top: 15%;
			left: 30%;
			position: absolute;
		}
		#id_inicio_index{
			font-size: 50px;
			left: 30%;
			top: 40%;
			position: absolute;
		}
		#id_historico_index{
			font-size: 28px;
			left: 20%;
			top: 29%;
			position: absolute;
		}
		#id_linhaPesquisa_index{
			font-size: 30px;
			left: 35%;
			top: 41%;
			position: absolute;
		}
		#id_baseDados_index{
			font-size: 30px;
			left: 35%;
			top: 14%;
			position: absolute;
		}
		#id_analiseGraficos_index{
			font-size: 30px;
			left: 20%;
			top: 54%;
			position: absolute;
		}
		#id_localizacao_index{
			font-size: 30px;
			left: 22%;
			top: 69%;
			position: absolute;
		}
		#id_contato_index{
			font-size: 30px;
			left: 45%;
			top: 83%;
			position: absolute;
		}
		body{
			background-color: #DCDCDC;
			margin: 0px;
			padding: 0px;
		}
		a, a:visited, a:link, a:active{
			text-decoration: none;
			cursor: pointer;
			color: #42426F;
			text-shadow: #000 1px 1px 2px;
		}
		#menu_lupa a:hover{
			text-decoration: none;
			cursor: pointer;
			color: red;
			text-shadow: #000 1px 1px 2px;
		}
		#logo_if_index{
			top: -15%;
			left: -2%;
			position: absolute;
		}
		#logo_ept_index{
			top: 2%;
			right: 2%;
			position: absolute;
			width: 180px;
			height: 180px;
		}
		#historico{
			background-color: #90EE90;
			top: 100%;
			width: 100%;
			height: 100%;
			position: absolute;
		}
		#linhaPesquisa{
			background-color:#DCDCDC;
			top: 200%;
			width: 100%;
			height: 100%;
			position: absolute;
		}
		#baseDados{
			background-color: #90EE90;
			top: 300%;
			width: 100%;
			height: 100%;
			position: absolute;
		}
		#analiseGraficos{
			background-color: #DCDCDC;
			top: 400%;
			width: 100%;
			height: 100%;
			position: absolute;
		}
		#localizacao{
			background-color: #90EE90;
			top: 500%;
			width: 100%;
			height: 100%;
			position: absolute;
		}
		#contato{
			background-color: #DCDCDC;
			top: 600%;
			width: 100%;
			height: 100%;
			position: absolute;
		}
		#footer{
			background-color: black;
			top: 700%;
			width: 100%;
			height: 35%;
			position: absolute;
		}
		#square-menu{
			z-index: 1001;
			top: 3px;
			right: 3px;
			position: fixed;
			width: 3.7%;
			height: 7%;
			background-color: black;
			opacity: 0.6; 
		}
		#square-return{
			z-index: 1001;
			top: 3px;
			right: 3px;
			position: fixed;
			width: 3.7%;
			height: 7%;
			background-color: white;
			opacity: 0.6; 
		}
		#nav-menu li{
			padding: 7px;
		}
		#nav-menu li a{
			font-size: 22px;
		}
		#nav-menu li:hover{
			background-color: rgba(0,0,0,0.7);
			text-decoration: none;
			cursor: pointer;
			color: #215;
		}
		#three{
			width: 30%;
			height: 30%;
			left: 35%;
			top: 35%;
			position: absolute;
			overflow-y: auto;
		}
		#return{
			width: 30%;
			height: 30%;
			left: 35%;
			top: 35%;
			position: absolute;
			overflow-y: auto;
		}

		#bigthree{
			display: none;
		    z-index: 1002;
		    position: fixed;
		    right: 0;
		    top: 0;
		    width: 230px;
		    height: 100%;
		    overflow-y: auto;
		    background: #222;
		    padding-top: 40px;
		}
		#tagMap{
			text-align: center;
			width: 120px;
			height: 70px;
			position: absolute;
			top: 23%;
			left: 21%;
			color: white;
		}
		#tagSymbol{
			text-align: center;
			width: 120px;
			height: 70px;
			position: absolute;
			top: 23%;
			left: 45%;
			color: white;
		}
		#tagTelephone{
			text-align: center;
			width: 120px;
			height: 70px;
			position: absolute;
			top: 23%;
			left: 70%;
			color: white;	
		}
		#tagMapImg, #tagSymbolImg, #tagTelephoneImg{
			width: 75px;
			height: 70px;
		}
		#mapa_localizacao{
			left: 10%;
			top: 20%;
			position: absolute;
		}
		hr{
			border-style: inset;
    		border-width: 2px;
    		border-color: #696969;
    		width: 20%;
    		left: 40%
		}